@model SDIPrgrm.Models.UserDetails
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ValidationMessage("CredentialError", new { style = "color:red;" })
        <span style="color:dodgerblue">Please Sign In Here</span>
        @using (Html.BeginForm("DoLogin", "Authentication", FormMethod.Post))

        {
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)
            <br />

            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)

            <br />


            <input type="submit" name="BtnSubmit" value="Login" />

        }

    </div>

</body>
</html>
